body, html {
  height: 100%;
}

.my-card {
  background: rgba(56, 56, 56, 0.835);
  padding: 5px;
  box-shadow: 1px 1px 2px #000000;
  border-radius: 4px;
  color: white;
  line-height: 0.5;
  font-weight: bold;
  font-size: 1.5rem;
}

.force-to-bottom {
  position:absolute;
  bottom: 5%;
  width: 50%;
}

.quote {
  color: white;
  text-shadow: 2px 2px #000000;
  font-weight: bold;
  font-size: 1.5rem;
}

.author {
  color: white;
  text-shadow: 2px 2px #000000;
  font-weight: bold;
  font-size: 1rem;
}

.todo-card{
    background: rgba(56, 56, 56, 0.835);
    padding: 5px;
    box-shadow: 1px 1px 2px #000000;
    border-radius: 4px;
    color: white;
    line-height: 0.5;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
  }

.force-to-bottom-todo {
  position:absolute;
  bottom: 5%;
  width: 100%;
  margin-right: 15px;
}

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

.valign-baseline {
  display: inline-flex;
  vertical-align: text-top;
  align-content: center
}

.material-icons:hover {
  cursor: pointer;
  color:red;
}

.force-to-absolute-bottom {
  position:absolute;
  bottom: 1%;
  width: 100%;
  color: white;
  text-shadow: 2px 2px #000000;
  font-weight: bold;
  font-size: 1rem;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}